.section-fourth {
    background-color: #FFFFFF;
    

    &__container {
        margin: 0 auto;
        max-width: 1600px;
        width: 100%;
        min-height: 1000px;
        display: flex;
        flex-direction: column;
    }

    &__title {
        text-align: center;
        font-family: 'Gotham-Bold';
        font-size: 44px;
        color: #2C4058;
        margin-top: 35px;
        margin-bottom: 100px;
    }
    
    &__title-line {
        content: '';
        border-bottom: 1px solid #2C4058;
        width: 100px;
        height: 1px;
        padding-top: 140px;
        margin: 0 auto ;
    }

    &__gallery {
        display: flex;
        justify-content: center;

        .gallery__img-one {
            max-width: 540px;
            width: 100%;
            min-height: 438px;
        }

        .gallery__parts-container {
            display: flex;
        }

        .gallery__part-one {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin-left: 10px;
        }

        .gallery__img-two {
            max-width: 285px;
            width: 100%;
            max-height: 214px;
        }

        .gallery__img-three {
            max-width: 285px;
            width: 100%;
            max-height: 214px;
        }

        .gallery__part-two {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin-left: 10px;
        }

        .gallery__img-four {
            max-width: 285px;
            width: 100%;
            max-height: 214px;
        }

        .gallery__img-five {
            max-width: 285px;
            width: 100%;
            max-height: 214px;
        }
    }

    &__button {
        margin: 0 auto;
        margin-top: 60px;
        margin-bottom: 140px;
        background-color: #FFFFFF;
        max-width: 190px;
        width: 100%;
        min-height: 50px;
        border: 1px solid #2C4058;
        font-family: 'Gotham-Book';
        font-size: 14px;
        color: #2C4058;
        cursor: pointer;
    }
    
    &__button:hover {
        background-color: hsl(210, 23%, 91%);
        color: #7E5AFF;
        border: 1px solid #7E5AFF;
        transition: 400ms;
    }

    &__button:active {
        opacity: 0.7;
    }
}

@media screen and (max-width: 1130px){
    .section-fourth {
        .section-fourth__title {
            margin-bottom: 40px;
        }

        .section-fourth__gallery {
            flex-direction: column;
            margin: 0 auto;
        }
        
        .gallery__part-one {
            margin-left: 0;
        }

        .gallery__img-one {
            max-width: 580px;
            min-height: 0;
            max-height: 438px;
        }

        .gallery__img-two {
            margin-top: 10px;
            margin-bottom: 10px;
        }

        .gallery__img-four {
            margin-top: 10px;
            margin-bottom: 10px;
        }
    }
}

@media screen and (max-width: 990px){
    .section-fourth {
        .section-fourth__title-line {
            padding-top: 40px;
        }

        .section-fourth__title {
            margin-bottom: 40px;
        }

        .section-fourth__button {
            margin-bottom: 40px;
        }
    }
}

@media screen and (max-width: 590px){
    .section-fourth {
        .section-fourth__gallery {
            max-width: 590px;
            width: 100%;
        }

        .section-fourth__container {
            min-height: 0;
        }
        .section-fourth__button {
            margin-top: 30px;
        }
    }
}